@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  --label-color: #111827;
}

label {
  color: var(--label-color) !important;
  color: #111827 !important;
  color: rgb(17, 24, 39) !important;
}

label,
label.block,
label.text-sm,
label.font-medium,
form label,
form label.block,
div label,
div label.block {
  color: rgb(17, 24, 39) !important;
  color: #111827 !important;
}

input,
textarea,
select {
  color: rgb(17, 24, 39) !important;
  background-color: white !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
  color: rgb(17, 24, 39) !important;
  background-color: white !important;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgb(156, 163, 175) !important;
  opacity: 1 !important;
}

div.bg-white p,
div.bg-white h3,
div.bg-white strong,
div.bg-white span {
  color: rgb(17, 24, 39) !important;
}

.bg-primary-blue p,
.bg-primary-blue h2,
.bg-primary-blue h3,
.bg-primary-blue span,
.bg-primary-blue div,
.bg-primary-blue p.text-white,
section.bg-primary-blue p,
section.bg-primary-blue div p {
  color: white !important;
}

@media (prefers-color-scheme: dark) {
  label,
  label.block,
  label.text-sm,
  label.font-medium,
  form label,
  form label.block,
  div label,
  div label.block {
    color: rgb(17, 24, 39) !important;
    color: #111827 !important;
  }

  input,
  textarea,
  select {
    color: rgb(17, 24, 39) !important;
    background-color: white !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  input[type="url"],
  input[type="search"],
  textarea,
  select {
    color: rgb(17, 24, 39) !important;
    background-color: white !important;
  }

  div.bg-white p,
  div.bg-white h3,
  div.bg-white strong,
  div.bg-white span {
    color: rgb(17, 24, 39) !important;
  }
}
